gateways/flows/gw_f09.json
[
  {
    "id": "floor-gateway-tab",
    "type": "tab",
    "label": "Floor 09 Gateway",
    "disabled": false,
    "info": "Phase 2 Floor Gateway. Bridges CoAP Observe streams (UDP) and MQTT traffic (TCP) between 20 rooms on this floor and the HiveMQ backbone, plus 60s edge thinning, offline autonomy, and MQTT DUP-flag deduplication.",
    "env": []
  },
  {
    "id": "hivemq-broker-config",
    "type": "mqtt-broker",
    "name": "hivemq-campus",
    "broker": "hivemq",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "f09-mqtt-tel-out",
    "type": "mqtt out",
    "z": "floor-gateway-tab",
    "name": "tel-out-f09",
    "x": 900,
    "y": 200,
    "wires": [],
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "hivemq-broker-config"
  },
  {
    "id": "f09-func-coap2mqtt",
    "type": "function",
    "z": "floor-gateway-tab",
    "name": "coap->mqtt f09",
    "x": 600,
    "y": 200,
    "wires": [
      [
        "f09-mqtt-tel-out",
        "f09-func-autonomy"
      ]
    ],
    "func": "// Re-package a CoAP Observe notification as an MQTT telemetry publish\n// for the same room. Keeps topic structure identical to native MQTT\n// nodes so ThingsBoard sees a unified stream.\nlet payload = msg.payload;\nif (Buffer.isBuffer(payload)) {\n    try { payload = JSON.parse(payload.toString('utf8')); } catch (e) { return null; }\n}\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); } catch (e) { return null; }\n}\nconst sensorId = (payload && payload.sensor_id) || '';\nconst m = sensorId.match(/^b(\\d{2})-f(\\d{2})-r(\\d+)$/);\nif (!m) { return null; }\nconst floor = '09';\nconst roomCode = m[3];\nmsg.topic = `campus/b01/f${floor}/r${roomCode}/telemetry`;\nmsg.qos = 1;\nmsg.retain = false;\nmsg.payload = payload;\n// Track for edge thinning\nlet bucket = flow.get('thinBucket') || {temp: [], hum: [], n: 0};\nif (typeof payload.temperature === 'number') bucket.temp.push(payload.temperature);\nif (typeof payload.humidity === 'number') bucket.hum.push(payload.humidity);\nbucket.n += 1;\nflow.set('thinBucket', bucket);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": []
  },
  {
    "id": "f09-coap-obs-r911",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r911",
    "x": 250,
    "y": 100,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5764/f09/r911/telemetry"
  },
  {
    "id": "f09-coap-obs-r912",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r912",
    "x": 250,
    "y": 140,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5765/f09/r912/telemetry"
  },
  {
    "id": "f09-coap-obs-r913",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r913",
    "x": 250,
    "y": 180,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5766/f09/r913/telemetry"
  },
  {
    "id": "f09-coap-obs-r914",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r914",
    "x": 250,
    "y": 220,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5767/f09/r914/telemetry"
  },
  {
    "id": "f09-coap-obs-r915",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r915",
    "x": 250,
    "y": 260,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5768/f09/r915/telemetry"
  },
  {
    "id": "f09-coap-obs-r916",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r916",
    "x": 250,
    "y": 300,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5769/f09/r916/telemetry"
  },
  {
    "id": "f09-coap-obs-r917",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r917",
    "x": 250,
    "y": 340,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5770/f09/r917/telemetry"
  },
  {
    "id": "f09-coap-obs-r918",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r918",
    "x": 250,
    "y": 380,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5771/f09/r918/telemetry"
  },
  {
    "id": "f09-coap-obs-r919",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r919",
    "x": 250,
    "y": 420,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5772/f09/r919/telemetry"
  },
  {
    "id": "f09-coap-obs-r920",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "Observe r920",
    "x": 250,
    "y": 460,
    "wires": [
      [
        "f09-func-coap2mqtt"
      ]
    ],
    "method": "GET",
    "observe": true,
    "name_payload": false,
    "usetls": false,
    "content-format": "application/json",
    "url": "coap://engine:5773/f09/r920/telemetry"
  },
  {
    "id": "f09-mqtt-resp-out",
    "type": "mqtt out",
    "z": "floor-gateway-tab",
    "name": "resp-out-f09",
    "x": 1100,
    "y": 520,
    "wires": [],
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "hivemq-broker-config"
  },
  {
    "id": "f09-func-ack2resp",
    "type": "function",
    "z": "floor-gateway-tab",
    "name": "CoAP ACK -> MQTT response",
    "x": 880,
    "y": 520,
    "wires": [
      [
        "f09-mqtt-resp-out"
      ]
    ],
    "func": "// Received a CoAP ACK from the room; republish a .../response\n// message so ThingsBoard can confirm the command landed.\nlet payload = msg.payload;\nif (Buffer.isBuffer(payload)) {\n    try { payload = JSON.parse(payload.toString('utf8')); } catch (e) { payload = { raw: payload.toString('utf8') }; }\n}\nconst topicBase = (msg._cmd_topic || '').replace(/\\/cmd$/, '');\nif (!topicBase) return null;\nmsg.topic = `${topicBase}/response`;\nmsg.qos = 1;\nmsg.retain = false;\nmsg.payload = { status: 'ok', from: 'coap-ack', data: payload };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "libs": []
  },
  {
    "id": "f09-coap-put",
    "type": "coap request",
    "z": "floor-gateway-tab",
    "name": "CoAP PUT CON",
    "x": 700,
    "y": 520,
    "wires": [
      [
        "f09-func-ack2resp"
      ]
    ],
    "method": "PUT",
    "observe": false,
    "name_payload": true,
    "usetls": false,
    "content-format": "application/json",
    "url": ""
  },
  {
    "id": "f09-func-cmd2coap",
    "type": "function",
    "z": "floor-gateway-tab",
    "name": "cmd->CoAP PUT f09",
    "x": 500,
    "y": 520,
    "wires": [
      [
        "f09-coap-put"
      ]
    ],
    "func": "// Translate MQTT command (campus/b01/fNN/rXXX/cmd) into a CoAP PUT\n// (Confirmable) request aimed at the virtual node's /actuators/hvac\n// resource. Emits the CoAP request message for the coap-request node.\nconst PORT_MAP = {\n    911: 5764,\n    912: 5765,\n    913: 5766,\n    914: 5767,\n    915: 5768,\n    916: 5769,\n    917: 5770,\n    918: 5771,\n    919: 5772,\n    920: 5773,\n};\nconst m = (msg.topic || '').match(/^campus\\/b01\\/f(\\d{2})\\/r(\\d+)\\/cmd$/);\nif (!m) { return null; }\nconst floorStr = '09';\nconst roomCode = parseInt(m[2], 10);\nconst port = PORT_MAP[roomCode];\nif (!port) {\n    node.warn(`cmd for unknown CoAP room ${roomCode}`);\n    return null;\n}\nconst engineHost = global.get('engineHost') || 'engine';\nmsg.method = 'PUT';\nmsg.observe = false;\nmsg.options = { 'Content-Format': 'application/json' };\nmsg.url = `coap://${engineHost}:${port}/f${floorStr}/r${roomCode}/actuators/hvac`;\nmsg._cmd_topic = msg.topic;\nmsg._room_code = roomCode;\nmsg._floor = floorStr;\n// Keep payload as JSON object; coap-request serialises\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "libs": []
  },
  {
    "id": "f09-func-dup",
    "type": "function",
    "z": "floor-gateway-tab",
    "name": "DUP filter",
    "x": 340,
    "y": 520,
    "wires": [
      [
        "f09-func-cmd2coap"
      ]
    ],
    "func": "// Drop MQTT commands whose DUP flag is set AND that we've already\n// processed within the last 60 seconds. Uses a per-flow LRU map\n// keyed by (topic, command_id).\nconst CACHE_KEY = 'dupCache';\nconst cache = flow.get(CACHE_KEY) || {};\nconst now = Date.now();\nconst ttl = 60 * 1000;\n// Evict expired\nfor (const k of Object.keys(cache)) {\n    if (cache[k] < now - ttl) delete cache[k];\n}\nconst payload = (typeof msg.payload === 'string') ? (function () { try { return JSON.parse(msg.payload); } catch (e) { return null; } })() : msg.payload;\nif (!payload || typeof payload !== 'object') { return null; }\nconst cmdId = payload.command_id || `${msg.topic}:${msg._msgid}`;\nconst dupFlag = !!(msg.dup || (msg.fixed && msg.fixed.dup));\nconst key = `${msg.topic}|${cmdId}`;\nif (cache[key] && dupFlag) {\n    node.warn(`DUP drop key=${key}`);\n    return null;\n}\ncache[key] = now;\nflow.set(CACHE_KEY, cache);\nmsg.payload = payload;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "libs": []
  },
  {
    "id": "f09-mqtt-cmd-in",
    "type": "mqtt in",
    "z": "floor-gateway-tab",
    "name": "cmd-in-f09",
    "x": 150,
    "y": 520,
    "wires": [
      [
        "f09-func-dup"
      ]
    ],
    "topic": "campus/b01/f09/+/cmd",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "hivemq-broker-config",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0
  },
  {
    "id": "f09-mqtt-summary-out",
    "type": "mqtt out",
    "z": "floor-gateway-tab",
    "name": "summary-out-f09",
    "x": 900,
    "y": 700,
    "wires": [],
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "hivemq-broker-config"
  },
  {
    "id": "f09-func-thinning",
    "type": "function",
    "z": "floor-gateway-tab",
    "name": "Edge thinning (60s)",
    "x": 600,
    "y": 700,
    "wires": [
      [
        "f09-mqtt-summary-out"
      ]
    ],
    "func": "// Compute and publish a 60-second floor-level state summary to\n// reduce network congestion (campus/b01/fNN/summary).  Also\n// powers ThingsBoard's Floor Health card.\nconst bucket = flow.get('thinBucket') || {temp: [], hum: [], n: 0};\nfunction avg(xs) { return xs.length ? xs.reduce((a,b)=>a+b,0) / xs.length : null; }\nconst summary = {\n    floor: 'f09',\n    window_sec: 60,\n    samples: bucket.n,\n    avg_temperature: avg(bucket.temp),\n    avg_humidity: avg(bucket.hum),\n    timestamp: Math.floor(Date.now() / 1000)\n};\nflow.set('thinBucket', {temp: [], hum: [], n: 0});\nmsg.topic = 'campus/b01/f09/summary';\nmsg.qos = 1;\nmsg.retain = true;\nmsg.payload = summary;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "libs": []
  },
  {
    "id": "f09-inject-tick",
    "type": "inject",
    "z": "floor-gateway-tab",
    "name": "every-60s",
    "x": 250,
    "y": 700,
    "wires": [
      [
        "f09-func-thinning"
      ]
    ],
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "60",
    "topic": "tick",
    "payload": "",
    "payloadType": "date"
  },
  {
    "id": "f09-status",
    "type": "status",
    "z": "floor-gateway-tab",
    "name": "Cloud status watchdog",
    "x": 250,
    "y": 820,
    "wires": [
      []
    ],
    "scope": [
      "hivemq-broker-config"
    ]
  },
  {
    "id": "f09-mqtt-autonomy-out",
    "type": "mqtt out",
    "z": "floor-gateway-tab",
    "name": "autonomy-out-f09",
    "x": 900,
    "y": 820,
    "wires": [],
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "hivemq-broker-config"
  },
  {
    "id": "f09-func-autonomy",
    "type": "function",
    "z": "floor-gateway-tab",
    "name": "Offline autonomy",
    "x": 600,
    "y": 820,
    "wires": [
      [
        "f09-mqtt-autonomy-out"
      ]
    ],
    "func": "// Local autonomy: if a room reports occupancy=false AND the cloud\n// connection is degraded, emit a lights-off MQTT cmd locally so\n// the gateway keeps controlling actuators even when offline.\nconst payload = msg.payload || {};\nif (typeof payload !== 'object') return null;\nconst cloudOk = (flow.get('cloudOk') !== false);\nif (payload.occupancy === false && payload.lighting_dimmer > 10 && !cloudOk) {\n    const sid = payload.sensor_id || '';\n    const m = sid.match(/^b(\\d{2})-f(\\d{2})-r(\\d+)$/);\n    if (!m) return null;\n    const local = { topic: `campus/b01/f${m[2]}/r${m[3]}/cmd`, qos: 2, payload: {lighting_dimmer: 0, command_id: `autonomy-${sid}-${Date.now()}`} };\n    return local;\n}\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "libs": []
  }
]